div.paragraaf {
    background-color: aliceblue;
    width: 10%;
}
div.paragraaf2 {
    background-color: aquamarine;
    width: 50%;
}

div.paragraaf3 {
    background-color: black;
    width: 20%;
}
div.paragraaf4 {
    background-color: blue;
    width: 25%;
}

div.paragraaf5 {
    background-color: blueviolet;
    color: beige;
    width: 30%;
}

